body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #24292f;
}

.root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* nav styles  */

.nav-bar {
  background-color: #24292f;
  color: white;
  display: flex;
  justify-content: space-around;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-img {
  height: 35px;
  width: auto;
}

.nav-links {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 10px;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.shopping-cart-container {
  display: flex;
  align-items: center;
}

.shopping-bag {
  height: 30px;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
}

.cart-count {
  position: absolute;
  top: 50px;
  font-size: 14px;
  font-weight: 700;
  color: black;
  border-radius: 50px;
  padding: 2px 5px;
}

@media (max-width: 600px) {
  .nav-bar {
    background-color: #24292f;
    color: white;
    display: flex;
    flex-direction: column;
  }
}

/* Home styles */

.home-page-contents {
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  padding-left: 10px;
}

.home-page-header {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #24292f;
  font-size: 40px;
}

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.home-page-banner {
  border-radius: 10px;
  height: 500px;
}

.home-page-button-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.tag-line-2 {
  font-weight: 700;
  color: #24292f;
  font-size: 25px;
}

.shop-button {
  padding: 10px 18px;
  border-radius: 25px;
  background-color: #24292f;
  color: white;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid #24292f;
  margin-bottom: 10px;
}

.shop-button:hover {
  background-color: white;
  color: #24292f;
  transition-duration: 0.3s;
}

@media (max-width: 600px) {
  .home-page-contents {
    gap: 10px;
  }

  .home-page-header {
    margin-top: 10px;
    height: 60vh;
    display: flex;
    flex-direction: column;
  }

  .banner-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
  }

  .tag-line-1,
  .tag-line-2 {
    text-align: center;
  }
  .home-page-banner {
    border-radius: 10px;
    height: 200px;
  }
}

@media (max-width: 1020px) {
  .tag-line-1,
  .tag-line-2 {
    font-size: 20px;
    text-align: center;
  }

  .home-page-banner {
    border-radius: 10px;
    height: 140px;
  }
}

/* Contact Page */

.contact-page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  align-items: center;
  height: 70vh;
}

.contact-page-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
}

.logo-link-container {
  display: flex;
  gap: 60px;
}

.contact-address {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  font-weight: 700;
  align-items: center;
  gap: 50px;
}

.contact-address-title {
  font-size: 40px;
}

.contact-page-content img {
  height: 100px;
}

@media (max-width: 600px) {
  .contact-page-text-container {
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }

  .logo-link-container {
    gap: 20px;
  }

  .contact-page-content img {
    height: 50px;
  }

  .contact-address {
    font-size: 20px;
    font-weight: 700;
    align-items: center;
    gap: 30px;
  }

  .contact-address-title {
    font-size: 30px;
  }
}

@media (max-width: 1020px) {
  .contact-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .contact-page-text-container {
    text-align: center;
    padding: 5px;
    font-size: 15px;
  }

  .contact-logo-container {
    gap: 20px;
  }

  .contact-page-content img {
    height: 50px;
  }

  .contact-address {
    font-size: 14px;
    font-weight: 700;
    align-items: center;
    gap: 0px;
  }

  .contact-address-title {
    font-size: 16px;
  }
}

/* Footer styles */

.footer-container {
  background-color: #24292f;
  color: white;
  display: flex;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.github-link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-logo {
  height: 25px;
}
