body {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #24292f;
}

.root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Footer styles */

.footer-container {
  background-color: #24292f;
  color: white;
  display: flex;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.github-link {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-logo {
  height: 25px;
}
