.nav-bar {
  background-color: #24292f;
  color: white;
  display: flex;
  justify-content: space-around;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-img {
  height: 35px;
  width: auto;
}

.nav-links {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  padding: 10px;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

.shopping-cart-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.shopping-bag {
  height: 30px;
  background-color: white;
  border: 1px solid #24292f;
  padding: 10px;
  border-radius: 50px;
}

.shopping-bag:hover {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50px;
}

.cart-count {
  position: absolute;
  top: 50px;
  font-size: 14px;
  font-weight: 700;
  color: black;
  border-radius: 50px;
  padding: 2px 5px;
  background-color: red;
}

.cart-count-hidden {
  visibility: hidden;
  position: absolute;
  top: 50px;
  font-size: 14px;
  font-weight: 700;
  color: black;
  border-radius: 50px;
  padding: 2px 5px;
  background-color: red;
}

@media (max-width: 600px) {
  .nav-bar {
    background-color: #24292f;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .cart-count {
    position: absolute;
    top: 125px;
    font-size: 14px;
    font-weight: 700;
    color: black;
    border-radius: 50px;
    padding: 2px 5px;
    background-color: red;
  }

  .shopping-bag {
    border: none;
  }
}

@media (min-width: 600px) and (max-width: 1080px) {
  .shopping-bag {
    border: none;
  }
}
